@font-face {
	font-family: 'Codystar';
	src: url('Codystar-Regular.ttf');
}
body {
    background: #080705;
    font-size:62.5%;
	background:url(../images/lapaz2.jpg) repeat-x;
}
/*html, body { overflow: hidden; }*/
#form {
   position:relative;
   margin-left:auto;
   margin-right:auto;
   width:300px;
   padding:16px;
   border:#3C75BA;
   text-align:center;
   display:none;
}
#mismensajes{
	font-family: 'Codystar', cursive;
	font-weight: bold;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
#ad {
    font-family:verdana, sans serif;
    position:absolute;
    right:200px;
    bottom:10px;
    width:160px;
    text-align:right;
    padding-right:10px;
}
h1 {
    position:absolute;
    left:-1000px;
}